<!docType html>
<html>
    <head>
        <title>
            Template
        </title>
        <link rel="stylesheet" type="text/css" href="templateStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#band">BAND</a></li>
                <li><a href="#tour">TOUR</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="#more">MORE</a></li>
                <!-- <li><img src="images/search_icon.png"></li> -->
                <br class="clearfix">
            </ul>
        </div>
        <div class="banner">
            <div>
                <h3>Chicago</h3>
                <p>Thank you, Chicago. A night we won't forget</p>
            </div>        
        </div>
        <div class="band" id="band">
            <div>
                <div>
                    <h2>THE BAND</h2>
                    <p class="para"><em>We love music</em></p>
                </div>                
                <p>
                    We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div>
                <div class="member member1">
                    <p>Name</p>
                    <img src="images/bandmember.jpg">
                </div>
                <div class="member member2">
                    <p>Name</p>
                    <img src="images/bandmember.jpg">
                </div>
                <div class="member member3">
                    <p>Name</p>
                    <img src="images/bandmember.jpg">
                </div>                
            </div>         
        </div>
        <div class="TD" id="tour">
            <div class="TDChild">
                <div>
                    <h2>TOUR DATES</h2>
                    <p><em>Remember to book your tickets</em></p>
                    <br/>
                    <ul>
                        <li>
                            September
                        <span>Sold out</span>
                        </li>
                        <li>
                            October
                            <span>Sold out</span>
                        </li>
                        <li>
                            November
                            <span class="right">3</span>
                        </li>
                    </ul>            
                </div>
                <br/>
                <div class="xyz">
                    <div class="BookTickets NY">
                        <img src="images/newyork.jpg">
                        <div>
                            <h5>New York</h5>
                            <p>Fri 27 Nov 2016</p>
                            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                            <button>Buy Tickets</button>
                        </div>
                    </div>
                    <div class="BookTickets Paris">
                        <img src="images/paris.jpg">
                        <div>
                            <h5>Paris</h5>
                            <p>Sat 28 Nov 2016</p>
                            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                            <button>Buy Tickets</button>
                        </div>
                    </div>
                    <div class="BookTickets SanFransisco">
                        <img src="images/sanfran.jpg">
                        <div>
                            <h5>San Francisco</h5>
                            <p>Sat 28 Nov 2016</p>
                            <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                            <button>Buy Tickets</button>
                        </div>
                    </div>
                    <br class="clearfix">
                </div>    
            </div>        
        </div>
        <div class="contact" id="contact">
            <h2>CONTACT</h2>
            <p><em>Fan? Drop a note!</em></p>
            <div>
                <div>
                    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US
                    <br/>
                    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515
                    <br/>
                    <i class="fa fa-envelope" style="width:30px"></i> Email: mail@mail.com
                    <br/>
                </div>
                <div class="form">
                    <form>
                        <div>
                            <div>
                                <input type="text" required name="Name" placeholder="Name">
                            </div>
                            <div>
                                <input type="text" required name="Email" placeholder="Email">
                            </div>
                        </div>
                        <input type="text" required name="Message" placeholder="Message">
                    </form>
                </div>
            </div>
        </div>       
    </body>
</html>