<!docType html>
<html>
    <head>
        <title>
            Template
        </title>
        <link rel="stylesheet" type="text/css" href="templateStyle.css">
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#band">BAND</a></li>
                <li><a href="#tour">TOUR</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="#more">MORE</a></li>
                <!-- <li><img src="images/search_icon.png"></li> -->
                <br class="clearfix">
            </ul>
        </div>
        <div class="banner">
            <div>
                <h3>Chicago</h3>
                <p>Thank you, Chicago. A night we won't forget</p>
            </div>
            
        </div>
    </body>
</html>